<div class="container-flud d-flex align-items-center border border-2 p-3 rounded pedido-item shadow m-3">
    <label class="badge rounded-pill bg-sweet text-coffe">{{number}}</label>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <span>Cliente: </span>
                <label>Juan Perez Perez</label>
            </div>
            <div class="col-md-4">
                <span>Fecha entrega: </span>
                <label>20/05/2021 22:00</label>
            </div>
            <div class="col-md-4">
                <span>Productos: </span>
                <label>5</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span>Total: </span>
                <label>$500.00</label>
            </div>
            <div class="col-md-4">
                <span>Adeudo: </span>
                <label>$200.00</label>
            </div>
            <div class="col-md-3">
                <span>Estatus: </span>
                <label>Entregado</label>
            </div>
            <div class="col-md-1 d-flex justify-content-end">
                <button class="btn-outline-secondary btn btn-sm">Detalles</button>
            </div>
        </div>
    </div>
</div>