<nav class="navbar navbar-expand-lg bg-custom shadow  mb-2">
  <div class="container-fluid d-flex justify-content-between m-0 p-0">
    <div>
      <i *ngIf="opened" class="bi bi-x-square-fill arrow" (click)="_toggleSidebar()"></i>
      <i *ngIf="!opened" class="bi bi-arrow-right-square-fill arrow" (click)="_toggleSidebar()"></i>
    </div>
    <h1>Dulces momentos</h1>
    <div class="d-flex align-items-center justify-content-between user-info">
      <div>
        <i class="bi bi-bell-fill user-notification"></i>
      </div>
      <div>
        <i class="bi bi-person-circle icon-user"></i>
      </div>
    </div>
  </div>
</nav>
