<div class="login d-flex align-items-center">
    <div class="container">
        <div class="row m-1">
            <div class="col-md-6 offset-md-3 shadow-lg rounded-3 ">
                <div class="container pt-5 pb-5 ">
                    <div class="row d-flex justify-content-center">
                        <img src="./../../../assets/images/logo.png" class="align">
                    </div>
                    <form>
                        <div class="row ">
                            <div class="offset-md-2 col-md-8">
                                <label for="exampleFormControlInput1" class="form-label">Usuario</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                    <input type="text" pInputText placeholder="Usuario">
                                </div>
                            </div>

                            <div class="offset-md-2 col-md-8 pt-2">
                                <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon">**</span>
                                    <input type="text" pInputText placeholder="Password">
                                </div>
                            </div>
                            <div class="offset-md-2 col-md-8 pt-2 d-flex justify-content-end">
                                <button pButton type="button" class="p-button-raised p-button-rounded">Ingresar</button>

                            </div>
                            <a href="">¿Olvido su contraseña?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>