<div *ngIf="isUpdate" class="container pedido-detail">
  <div class="d-flex justify-content-between">
    <div>
      <span>Cliente: </span>
      <label>Reyes Oscar Bustamante</label>
    </div>
    <div class="text-end">
      <span>Num. Pedido: </span>
      <label>20</label>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <span>Fecha entrega: </span>
      <label>25/06/2021 09:12:22</label>
    </div>
    <div class="text-end">
      <span>Estatus: </span>
      <label>Listo</label>
    </div>
  </div>
  <div class="row">
    <div>
      <label>Av. Panamericana, Pedregal de Carrasco, Alc. Coyoacan, CDMX</label>
    </div>
  </div>
  <div class="row">
    <div class="pt-4">
      <app-producto-item></app-producto-item>
      <app-producto-item></app-producto-item>
    </div>
  </div>
  <div class="row pt-3">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <button class="btn btn-success ">
          Cerrar
        </button>
      </div>
      <div class="d-flex flex-column align-items-end">
        <div>
          <span>Subtotal: </span>
          <label>$300.00</label>
        </div>
        <div>
          <span>Abono: </span>
          <label>$0.00</label>
        </div>
        <div>
          <span>Total: </span>
          <label>$200.00</label>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isUpdate" class="container pedido-detail">
  <form>
    <div class="row">
      <div class="col-md-8">
        <label for="inputPassword6" class="col-form-label ">Cliente: </label>
        <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
      </div>
      <div class="col-md-4">
        <label for="inputDate" class="col-form-label">Fecha de entrega: </label>
        <input type="datetime-local" id="inputDate" class="form-control">
      </div>

      <div class="col-md-10">
        <label for="inputDireccion" class="col-form-label">Dirección: </label>
        <input type="text" id="inputDireccion" class="form-control">
      </div>
      <div class="col-md-2 p-4">
        <div class="add-button">
          <a class="btn" (click)="activeClasificacion()">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-plus-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
          </a>
        </div>
      </div>
    </div>

    <ng-container *ngIf="!isActiveClasificacion && !isActiveProducto">
      <app-producto-item></app-producto-item>
    </ng-container>

    <ng-container *ngIf="isActiveClasificacion && !isActiveProducto">
      <div class="row">
        <div class="col-md-3 col-sm-6 d-flex justify-content-center border border-1" (click)="activeProducto()">
          <div class="clasificacion">
            <img src="./../../../assets/images/pizza.png" class="card-img-top" alt="...">
            <div class="">
              <h5 class="d-flex justify-content-center">Pizzas</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 d-flex justify-content-center border border-1">
          <div class="clasificacion">
            <img src="./../../../assets/images/pizza.png" class="card-img-top" alt="...">
            <div class="">
              <h5 class="d-flex justify-content-center">Pizzas</h5>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 d-flex justify-content-center border border-1">
          <div class="clasificacion">
            <img src="./../../../assets/images/pizza.png" class="card-img-top" alt="...">
            <div class="">
              <h5 class="d-flex justify-content-center">Pizzas</h5>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isActiveProducto">
      <div class="row">
        <div class="col-md-6  border border-2">
          <div class="row g-0">
            <div class="col-4">
              <img src="./../../../assets/images/pizza.png" class="img-fluid rounded-start" alt="..."
                style="width: 10rem;">
            </div>
            <div class="col-8">
              <h5 class="card-title">Peperoni</h5>
              <ul class="card-text" style="columns: 2">
                <li>Cebolla</li>
                <li>Peperoni</li>
                <li>Cebolla</li>
                <li>Peperoni</li>
                <li>Cebolla</li>
                <li>Peperoni</li>
                <li>Cebolla</li>
                <li>Peperoni</li>
              </ul>
              <p class="d-flex justify-content-end">Tamaño: Grande</p>
            </div>
          </div>
        </div>

      </div>
    </ng-container>

    <div class="row mt-3">
      <div class="d-flex justify-content-end">
        <div class="d-flex flex-column">
          <label>Total: <span>$300.00</span></label>
          <button class="btn btn-primary btn-sm">Finalizar registro</button>
        </div>
      </div>
    </div>
  </form>
</div>
